:root{
  --bg-color: #f0f0f0;
  --text-color: #333333;
  --btn-bg: #222;
  --btn-text: #fff;
}

body.dark-mode {
  --bg-color: #121212;
  --text-color: #f0f0f0;
  --btn-bg: #f5f5f5;
  --btn-text: #121212;
}

body {
  position: relative;
  background-color: var(--bg-color);
  color: var(--text-color);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}

#clock-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#clock {
  font-family: monospace;
  font-size: 5rem;
  font-weight: bold;
  text-align: center;
  color: var(--text-color);
  backdrop-filter: blur(5px);
  background-color: hsla(0, 0%, 100%, 0.1);
  width: 100%;
}

button {
  position: absolute;
  top: 20px;
  right: 20px; 
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  background-color: var(--btn-bg);
  color: var(--btn-text);
  cursor: pointer;
  font-size: 1rem;
  font-family: monospace;
  min-width: 120px;
}

